<%- include('includes/head-modulos') %>
<body>
    <%- include('includes/nav') %>
    <header>
        <h1>Modulo de Produtos</h1> 
    </header>

    <div class="content">
        <p>Olá, seja bem-vindo à sua área restrita.</p>
    </div>

    <%- include('includes/footer') %>
</body>